#header {
    background-image: linear-gradient(to right, #0f2242, #2452a1);
    padding-bottom: 5px;
    padding-top: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#header h1 {
    display: inline;
    color: white;
    margin-left: 20px;
}

#page {
    font-size: 17px;
    font-family: sans-serif;
    min-height: 800px;
}

#page .col-sm {
    padding: 15px;
}

.clear {
    clear:both;
}

#header {
  height: 100px;
}

#header-wrapper {
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin-left:12px;
  height: 100%;
}

@media screen and (min-width: 640px) {
  #menu {
    flex-grow: 1;
    text-align: right;
    margin-right: 12px;
  }
}

@media screen and (max-width: 640px) {
  #clojure-logo {
      width:100%;
      text-align:center;
  }
  #clojure-title {
      width:100%;
      text-align: center;
  }
  #clojure-title h1 {
    font-size:30px;
  }
  #header {
    height: 200px;
  }
  #header-wrapper {
    margin-left: 0px;
    width: 100%;
  }
  #menu {
    width:100%;
  }
  #menu-button {
    margin-top: 12px;
    width: 100%;
  }
}
